body {
    background-color: dimgray;
}

div {
    display: inline-block;
    width: 220px;
}

h1 {
    margin: 10px auto;
    text-align: center;
    font-family: "Source Code Pro Black", monospace;
}

label {
    font-family: "Source Code Pro", monospace;
}

#result {
    font-size: 30px;
    text-align: center;
    font-family: "Source Code Pro", monospace;
}